.container {
  background-color: var(--gray-500);
  border-radius: 8px;
  min-height: 7.2rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-between;

  padding: 1.6rem;
}

.container p {
  line-height: 1.96rem;
  color: var(--gray-100);
  justify-items: flex-start;
}
