.container {
  background-color: var(--gray-500);
  border-radius: 8px;
  min-height: 7.2rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-between;

  padding: 1.6rem;
}

.container p {
  line-height: 1.96rem;
  color: var(--gray-100);
  justify-items: flex-start;
}

.container input {
  appearance: none;
  border: 1px solid var(--blue);
  border-radius: 10px;
  height: 16px;
  width: 16px;

  transition: 500ms all;
}
.container input:checked {
  background-color: var(--blue);
}
.container button {
  background-color: transparent;
  border: none;
}
.container button svg {
  color: var(--gray-300);
  transition: 300ms all;
}
.container button svg:hover {
  color: var(--danger);
}

.checked {
  text-decoration: line-through;
}
