.button {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1.6rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 0.8px;
  transition: 200ms all;
}
.button:hover {
  background-color: var(--blue);
}
